body{
    background-color:#003153;
    font-family: Times New Roman;
}
h1{
    color:#8A0707;
    text-align: center;
}
.assign{
    margin: 10px;
    padding: 10px;
    background-color: #B3446C;
    display: flex;
    
}
.assign img{
    width: 200px;
    padding: 10px;
}
